@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #334059;
}

#filter-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px 15px 0px;
}

#display-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    margin: 2% 2%;
  }
}

#form-container {
  color: red;
  font-size: larger;
  margin: auto;
  width: 70%;
}
