@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #334059;
}

.login {
  color: #44c5a1;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  width: 75%;
  .abc {
    height: 25%;
    width: 50%;
    margin-bottom: 25px;
  }
}

#user-name {
  font-size: large;
  margin-right: 15px;
}

#filter-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px 15px 0px;
}

#display-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  h2 {
    color:#44c5a1;
  }

  .card {
    margin: 2% 2%;
  }
}

#form-container {
  color: #44c5a1;
  font-size: larger;
  margin: auto;
  width: 70%;
}
